.tycContainer {
    width: 100%;
    margin-top: 70px;
    height: calc(100vh - 70px);
    background-image: url(../../../public/assets/images/fondobyn.jpeg);
    background-size: 100% 100%;
}

.tycImage {
    object-fit: contain;
    height: 100%;
    width: 100%;
}