.cajeros-box {
    background-color: #000;
    /* background-image: linear-gradient(to bottom, #66cdff, #35bcff); */
    height: calc(100vh - 70px);
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.cajero {
    border: 1px solid red;
    width: 200px;
    background-color: darkcyan;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.cajero-name {
    text-align: center;
}

.cajero-img {
    text-align: center;
    height: 100px;
}

.cajero-img img {
    border: 2px solid blue;
    width: fit-content;
    height: 100%;
    object-fit: contain;
}

.cajero-number {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #fff;
}