.cajerosMain {
    /* background-image: url(https://rare-gallery.com/uploads/posts/1148058-poker-play-gambling-recreation-games-card-game.jpg); */
    background-repeat: repeat;
    /* background-position: center center; */
    background-size: contain;
    /* background: radial-gradient(circle, #000000, #838383); */
    background-image: url(../../../public/assets/images/fondoceleste.jpeg);
    padding-top: 10px;
}

.cajeroMainLoading {
    background-image: url(../../../public/assets/images/fondoceleste.jpeg);
    background-size: contain;
    background-repeat: repeat;
    width: 100%;
    height: 5000px;
    padding-top: 10px;
}

.cajeros-box {
    /* background-image: url(https://t3.ftcdn.net/jpg/04/61/21/46/360_F_461214675_2AixWpR2TqYr0jwDPrt1QvGJBSePq4z6.jpg); */
    background-position: center center;
    background-repeat: repeat;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.cajero {
    width: 130px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 0.8px solid #D4AF37;
    border-radius: 25px;
    overflow: hidden;
    margin-top: 15px;
    
}

@media screen and (min-width: 388px) {
    .cajero {
        width: 155px;
    }
}

@media screen and (min-width: 460px) {
    .cajeros-box {
        gap: 20px;
    }
}

@media screen and (min-width: 720px) {
    .cajero {
        width: 165px;
    }
}

@media screen and (min-width: 768px) {
    .cajero {
        width: 170px;
    }
}


.cajero-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(88,88,88,1) 100%);
    color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    padding: 10px 20px;
    height: 40px;
    width: 100%;

}
.cajero-name p {
    padding: 0;
    margin: 0;
    color: #fff;
}

.cajero-img {
    width: fit-content;
    text-align: center;
    height: 100px;
}

.cajero-img img {
    width: fit-content;
    height: 100%;
    object-fit: contain;
}

.cajero-number-box {
    margin: 0;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(88,88,88,1) 100%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cajero-number-icon {
    font-size: 25px;
    color: #fff;
}

.cajero-number {
    margin: 0;
    color: #fff;
    font-size: 15px;
}

::-webkit-scrollbar{
    display: none;
}

.cajerosTitle {
    padding: 20px;
    margin: auto;
    width: fit-content;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 80%);
    box-shadow: 0px 1px 106px 6px rgba(212,175,55,1);
    -webkit-box-shadow: 0px 1px 106px 6px rgba(212,175,55,1);
    -moz-box-shadow: 0px 1px 106px 6px rgba(212,175,55,1);
}