.cajeros-box {
    background-color: #000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cajero {
    border: 1px solid red;
    min-width: 200px;
    background-color: darkcyan;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.cajero-name {
    text-align: center;
}

.cajero-img {
    text-align: center;
    height: 100px;
}

.cajero-img img {
    border: 2px solid blue;
    width: fit-content;
    height: 100%;
    object-fit: contain;
}

.cajero-number {
    display: flex;
    justify-content: center;
}