.redB {
    border: 1px solid red;
}

.greenB {
    border: 2px solid green;
}

.oranB {
    border: 3px solid orange;
}

.form-btn {
    padding: 5px;
    border: 0;
    background-color: violet;
}

.authContainer {
    height: calc(100vh - 70px);
    display: grid;
    align-items: center;
    background-color: #020006;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23d4af37' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.signIn-container {
    margin: auto;
    height: 408px;
    display: grid;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
    background: radial-gradient(circle, rgba(88,88,88,1) 0%, rgba(0,0,0,1) 100%);
    border: 1px solid #424242;

}

.signIn-form {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.signIn-loader {
    margin: 0;
    padding: 0;
    background-color: #66cdff;
    border-radius: 15px;
    height: 100%;
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;

}

.signIn-form_img {
    justify-content: center;
    width: fit-content;
    margin: auto;
}

.signIn-form_img img {
    padding: 0;
    margin: 0;
    width: 100px;
    height: 100px;
    color: #fff;
}

.signIn-form_icon {
    color: #fff;
    font-size: 90px;
}

.signIn-inputs {
    padding-bottom: 25px;
    position: relative;
}

.signIn-inputs small {
    position: absolute;
    bottom: 0;
    left: 30px;
}

.signIn-pass_input , .signIn-mail_input {
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 10px;
}

.signIn-submit_btn {
    width: fit-content;
    margin: auto;
    background-color: #D4AF37 !important;
    color: #000 !important;
    font-weight: 600;
    transition: all .15s;
    border: 0.5px solid #c7c7c7 !important;   
}

.signIn-submit_btn:hover {
    background-color: #7f6921 !important;
    border: 0.5px solid #000 !important;
}

.signIn-form-loader {
    margin: 0;
    padding: 0;
    background-color: #66cdff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    height: 408px;
}
