.addCajeroIcon {
    font-size: 25px !important;
    margin-left: 8px;
}

.searchForm {
    border: 1px solid #777777;
    border-radius: 10px;
    overflow: hidden;
}

.searchInput {
    border: none;
    outline: none;
    padding: 5px 10px;
}

.timesIcon {
    cursor: pointer;
}