.addCajeroIcon {
    font-size: 25px !important;
    margin-left: 8px;
}

.searchForm {
    border-radius: 10px;
    overflow: hidden;
    border: 0.1px solid #464646;
}

.searchInput {
    border: none;
    outline: none;
    padding: 5px 10px;
}

.timesIcon {
    color: #fff;
    cursor: pointer;
    background-color: #0d6efd;
    transition: all .15s;
}
.timesIcon:hover {
    background-color: #0b5ed7;
}

.searchBtn {
    border-radius: 0 !important;
}

body {
    background-color: #424242 !important;
}

.addCajeroBtn {
    width: fit-content;
}