@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=New+Rocker&display=swap');

* {
  text-decoration: none !important;
  list-style: none !important;
  box-sizing: border-box !important;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  background-color: rgb(38, 38, 38) !important;

}

/* ::-webkit-scrollbar{
  display: none;
} */

