.footer {
    height: fit-content;
}

.columnas {
    height: 300px;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%,  rgba(88,88,88,1) 100%);
}

.meritos {
    height: 40px;
}
.meritos p {
    font-size: 12px;
}

.mani {

}